[Unit]
Description=Pisound button daemon autostart
After=sound.target

[Service]
EnvironmentFile=/etc/environment
Environment=HOME=/root
ExecStart=/usr/local/bin/pisound-btn

[Install]
WantedBy=multi-user.target
