# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Misc files
*.cmd
*.tmp
*.mod.c
*.symvers
*.order
pisound-btn
!pisound-btn/
*.dtbo
.tmp_versions
*.pyc

**/__pycache__/*
**/.vscode/*
**/.DS_STORE/*
