Section: audio
Priority: optional
Homepage: https://blokas.io/pisound
Standards-Version: 3.9.2
Package: pisound
Version: 1.0
Architecture: all
Maintainer: Blokas Labs <hello@blokas.io>
Depends: pisound-btn, pisound-ctl
Description: Pisound meta package. 
 Combines individual Pisound packages under single name.
